global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['prometheus:9090']

  - job_name: 'topology-agent'
    static_configs:
      - targets: ['topology-agent:8000']