apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    # 'prometheus' is the service name in docker-compose.yml
    url: http://prometheus:9090
    isDefault: true
    editable: true

